
.App {
  text-align: center;
}
/* #443e3e */
.Header {
  color: #d6d6d6;
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
  font-size: 50px;
}
/* write your parent styles in here for your App.js */
